.button-order {
  width: 135px;
  height: 40px;
  background-color: #ffa500;
  border-radius: 20px;
  cursor: pointer;
  font: inherit;
  font-size: 12px;
  font-weight: 700;
  /* padding-left: 34px; */
}
