.button-order {
  position: relative;
  width: 152px;
  height: 40px;
  background-color: #ffa500;
  border-radius: 20px;
  cursor: pointer;
  font: inherit;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  /* padding-left: 34px; */
}

.bestsellers-item.little .button-order::before,
.bestsellers-item.instok .button-order::before {
  position: absolute;
  content: "";
  background-image: url("../svg/add-to-cart.svg");
  width: 31px;
  height: 24px;
  background-repeat: no-repeat;
  left: 15px;
}
.bestsellers-item.little .button-order::after,
.bestsellers-item.instok .button-order::after {
  font: inherit;
  position: absolute;
  content: "Add to Cart";
  width: 80px;
  height: 19px;
  font-size: 15px;
  font-weight: 700;
  left: 49px;
}

.bestsellers-item.out-of-stock .button-order {
  border: 2px solid #ffa500;
  background-color: white;
}
.bestsellers-item.out-of-stock .button-order::before {
  position: absolute;
  content: "";
  background-image: url("../svg/notifications-sharp.svg");
  width: 16px;
  height: 20px;
  background-repeat: no-repeat;
  left: 21px;
}
.bestsellers-item.out-of-stock .button-order::after {
  font: inherit;
  position: absolute;
  content: "Notify Me!";
  width: 72px;
  height: 19px;
  font-size: 15px;
  font-weight: 700;
  left: 51px;
}
