/* 1366-Desktop */
@media screen and (max-width: 1200px) {
  .search {
    width: 400px;
  }
  .main-section {
    width: 98%;
  }
  .bestsellers li {
    padding-left: 0;
  }
  .best-item-image {
    width: 29%;
    /* justify-content: left; */
  }
  .best-item-img {
    width: 105px;
    height: 105px;
  }
  .best-item-name {
    margin-top: 5px;
    font-size: 18px;
  }
  .best-item-options {
    font-size: 12px;
  }
  .best-item-total > div,
  .best-item-sp > div,
  .best-item-approved div {
    height: 37px;
  }
  .best-item-stok p:first-child,
  .best-item-price p:first-child {
    width: 40px;
  }
}
/* 1024-Tablet-Landscape */
@media screen and (max-width: 1000px) {
  .search {
    width: 284px;
  }
  .main-section {
    width: 99%;
    max-width: 1002px;
  }
  .page-name {
    font-size: 18px;
    margin-top: 36px;
  }
  .section-tools {
    margin-top: 22px;
    font-size: 12px;
  }
  /* bestsellers */
  .section-bestsellers {
    margin-top: 6px;
  }
  .bestsellers li {
    height: 236px;
    /* padding-right: 1px; */
  }
  .bestsellers-item::before {
    width: 128px;
    height: 23px;
    font-size: 11px;
    top: -11px;
  }
  .best-item-name {
    /* margin-top: 5px; */
    margin-top: -5px;
    font-size: 14px;
    line-height: 1.75;
    min-height: 49px;
    /* outline: 1px solid green; */
  }
  .best-item-image {
    width: 46%;
    justify-content: left;
    height: 130px;
    align-items: flex-end;
  }
  .best-item-options {
    flex-direction: column;
    margin-top: 12px;
  }
  .best-item-stokprice,
  .best-item-approved {
    width: 100%;
  }
  .best-item-approved img {
    width: 39px;
    height: 32px;
  }
  .best-item-approved div {
    height: 32px;
  }
  .best-item-stokprice {
    margin-top: 15px;
  }
  .best-item-sp > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
  }
  .best-item-sp > div > div {
    width: 50%;
    flex-direction: column;
    height: 32px;
    justify-content: space-between;
    /* outline: 1px solid green; */
  }
  .best-item-stok,
  .best-item-price {
    align-items: flex-start;
  }
  .best-item-stok > div {
    margin-left: 9px;
  }
  .best-item-stok p:first-child,
  .best-item-price p:first-child {
    width: auto;
  }
  .best-item-price {
    position: relative;
  }
  .best-item-price-val {
    position: absolute;
    bottom: -2px;
  }
  .best-item-total > div {
    height: 32px;
  }
  .best-item-ordering {
    margin-left: 18px;
    margin-top: 22px;
  }
  .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .items li {
    width: 48.9%;
    min-width: 300px;
    height: 158px;
  }
  .items li:nth-child(4),
  .items li:nth-child(5),
  .items li:nth-child(6) {
    /* display: block; */
  }
  .btn-load-rusults {
    margin-bottom: 110px;
  }
}

/* 768-Tablet-Portrait */
@media screen and (max-width: 750px) {
  .main-section {
    max-width: 762px;
  }
  /* .bestsellers li {
    height: 236px;
  } */
  /* .page-name {
    font-size: 18px;
    margin-top: 36px;
  } */
  /* .section-tools {
    margin-top: 22px;
    font-size: 12px;
  } */
  /* .bestsellers-item::before {
    width: 128px;
    height: 23px;
    font-size: 11px;
  } */
  .items {
    display: flex;
    flex-direction: column;
  }
  .items li {
    width: 338px;
  }
}

/* 375-Mobile */
@media screen and (max-width: 500px) {
  .header__options {
    margin-left: 5px;
  }
  .header__navigation {
    margin-right: 5px;
  }
  .search__request {
    display: none;
  }
  .navigation > li {
    width: 48px;
    height: 56px;
    /* outline: 1px solid red; */
  }
  .search__submit {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    background-size: 15px 15px;
  }
  .navigation > li > a > span {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .navigation > li > a {
    background-position: center center;
  }
  .navigation__account > a {
    background-size: 20px 21px;
  }
  .navigation__order > a {
    background-size: 16px 20px;
  }
  .navigation__cart > a {
    background-size: 24px 21px;
  }
  .account-nav {
    left: -83.5px;
  }
  .navigation__cart.full::before {
    top: 13px;
    left: 30px;
  }

  .main-section {
    padding-left: 18px;
    padding-right: 18px;
  }
  .page-name {
    margin-top: 14px;
  }
  .separeting-bar {
    border: 1px solid #cfcfcf;
    margin-top: 12px;
  }
  .section-tools {
    display: none;
  }
  .section-bestsellers {
    margin-top: 2px;
  }
  .bestsellers li:first-child {
    margin-right: 10px;
  }
  .items li:nth-child(4),
  .items li:nth-child(5),
  .items li:nth-child(6) {
    display: none;
  }
}
