@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto-Bold.ttf");
}

.visually-hidden {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.nofloat {
  clear: both;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
body {
  background-image: url("../img/bg_grey_tile@2x.jpg");
  background-color: #e6e6e6;
  background-size: cover;
  background-repeat: repeat-y;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
.main-header {
  /* outline: 1px solid green; */
  /* height: 80px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  overflow-x: hidden;
}
.header__options {
  height: 50px;
  width: 50px;
  padding: 0;
  margin-left: 17px;
  background-color: white;
  background-image: url(../svg/options-sharp.svg);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  flex-shrink: 0;
}
.header__options:focus,
.header__options:hover {
  background-image: url(../svg/options-sharp-hover.svg);
}
.search {
  width: 525px;
}
.search__form {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.search__request {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #9c9d9d;
  padding-left: 15px;
  padding-right: 40px;
  font-size: 12px;
}
.search__submit {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ffa500;
  background-image: url("../svg/Interface-Essential\ -\ Search\ -\ search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  right: 2px;
  cursor: pointer;
}
.header__navigation {
  margin-right: 17px;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation > li {
  width: 60px;
  height: 80px;
  /* outline: 1px solid red; */
}
.navigation > li > a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50px;
  color: #9c9d9d;
  font-size: 12px;
  background-repeat: no-repeat;
  background-position: center 20px;
}
.navigation > li > a:focus,
.navigation > li > a:hover {
  color: black;
}
.navigation__account {
  position: relative;
}
.navigation__account > a {
  background-image: url("../svg/person-sharp.svg");
  cursor: pointer;
}
.navigation__account > a:focus,
.navigation__account > a:hover {
  background-image: url("../svg/person-sharp-hover.svg");
}
.navigation__order > a {
  background-image: url("../svg/document-text-sharp.svg");
}
.navigation__order > a:focus,
.navigation__order > a:hover {
  background-image: url("../svg/document-text-sharp-hover.svg");
}
.navigation__cart > a {
  background-image: url("../svg/cart-sharp.svg");
}
.navigation__cart > a:focus,
.navigation__cart > a:hover {
  background-image: url("../svg/cart-sharp-hover.svg");
}
.account-nav {
  display: none;
  position: absolute;
  width: 215px;
  left: -77.5px;
  z-index: 999;
}
.account-nav > li {
  width: 100%;
  height: 56px;
  /* background-color: rgba(0, 0, 0, 0.9); */
  color: white;
  font-size: 14;
}
.account-nav > li:first-child {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 1);
}
.account-nav > li > a {
  font: inherit;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 1px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.account-nav > li > a:focus,
.account-nav > li > a:hover {
  background-color: rgba(0, 0, 0, 1);
}
.account-nav::before {
  position: absolute;
  content: "";
  border: 8px solid transparent;
  border-bottom: 9px solid black;
  left: 50%;
  margin-left: -8px;
  top: -17px;
}
.navigation__account.opened > .account-nav {
  display: block;
}
.navigation__cart {
  position: relative;
}
.navigation__cart.full::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ffa500;
  border: 2px solid white;
  top: 15px;
  left: 37px;
}

/* MAIN SECTION */
.main-section {
  /* outline: 1px solid blue; */
  width: 100%;
  max-width: 1366px;
  padding-left: 30px;
  padding-right: 30px;
  overflow-x: hidden;
}
.page-name {
  font-size: 26px;
  font-weight: 700;
  margin-top: 27px;
}
.section-tools {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  height: 32px;
  font-size: 14px;
}
.separeting-bar {
  border: 1px solid #cfcfcf;
  margin-top: 8px;
}
.section-bestsellers {
  /* outline: 1px solid green; */
  margin-top: 12px;
  overflow: hidden;
  padding-top: 12px;
}
.section-items {
  /* outline: 1px solid green; */
  margin-top: 16px;
}
.btn-load-rusults {
  width: 100%;
  height: 48px;
  border-radius: 24px;
  border: 1px solid #000000;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

/* BESTSELLERS */
.bestsellers {
  display: flex;
  justify-content: space-between;
}
.bestsellers li {
  height: 175px;
  width: 49.4%;
  min-width: 288px;
  background-color: white;
  padding: 18px;
}
.bestsellers li:first-child {
  margin-right: 15px;
}
.bestsellers-item {
  position: relative;
}
.bestsellers-item::before {
  position: absolute;
  width: 153px;
  height: 24px;
  background-color: #ffa500;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -12px;
  left: 0px;
}
.best-premium::before {
  content: "Premium Bestseller";
}
.best-economy::before {
  content: "Economy Bestseller";
}
/* bestsellers inside */
.best-item-image {
  /* outline: 1px solid green; */
  float: left;
  width: 31%;
  height: 139px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.best-item-info {
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
}
.best-item-name {
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: underline;
  display: inline-block;
  margin-top: 1px;
}
.best-item-options {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
}
.best-item-approved {
  /* background-image: url("../svg/Logo_OE_Approved_1c_black_final.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 64px;
  min-height: 52px; */
  /* outline: 1px solid peru; */
  /* flex-grow: 1; */
  width: 50%;
  display: flex;
  align-items: center;
}
.best-item-approved div {
  /* outline: 1px solid orangered; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 41px;
}
.best-item-stokprice {
  height: 35px;
  /* outline: 1px solid olivedrab; */
  /* flex-grow: 1; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-item-sp {
  width: 50%;
  /* outline: 1px solid green; */
  display: flex;
  /* flex-direction: column;
  justify-content: space-between;
  height: 41px; */
  justify-content: center;
  align-items: center;
}
.best-item-sp > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* outline: 1px solid red; */
  height: 41px;
  width: 100%;
}
.best-item-stock-sight {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #008435;
}
.best-item-stok,
.best-item-price {
  display: flex;
  align-items: center;
}
.best-item-stok p:first-child,
.best-item-price p:first-child {
  display: block;
  width: 45px;
  /* margin-right: 10%; */
}
.best-item-total {
  width: 50%;
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 41px;
  justify-content: center;
  align-items: center;
}
.best-item-total > div {
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 41px;
}
.best-item-total-price {
  font-size: 18px;
  font-weight: 700;
}

.best-item-ordering {
  /* outline: 1px solid red; */
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* ITEMS */
.items {
  margin-bottom: -15px;
}
.items li {
  width: 100%;
  height: 80px;
  background-color: white;
  margin-bottom: 15px;
}
